<h1 class="no-margin-bottom">Contact</h1>

<form [formGroup]="contactForm">
  <app-input-field type="text" placeholder="Name" formControlName="name"></app-input-field>
  <app-input-field type="text" placeholder="Email" formControlName="email"></app-input-field>
  <app-input-field type="text" placeholder="Subject" formControlName="subject"></app-input-field>
  <app-large-text placeholder="Message" formControlName="message"></app-large-text>
  <app-button [ngClass]="{'button-mobile': (breakpointsService.isHandheld$| async)}" label="{{buttonText}}" [loading]="loading" (click)="sendEmail()"></app-button>
</form>