<!-- <nav class="nav-primary" *ngIf="!(isHandset$ | async)">
  <div class="nav-header">
    <p [routerLink]="['/']" class="initial">
      N
    </p>
  </div>
  <div class="nav-items">
    <div *ngFor="let route of routes" class="nav-item" (click)="navigateToRoute(route)">
      {{route.displayName}}
    </div>
  </div>
</nav>

<mat-sidenav-container [ngClass]="{'menu-closed': !opened}" class="nav-mobile" *ngIf="(isHandset$ | async)">
  <mat-icon *ngIf="!opened" fontIcon="menu" (click)="opened = true; sidenav.open()"></mat-icon>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="side-nav">
    <mat-icon (click)="sidenav.close()">minimize</mat-icon>
    <div class="nav-items-mobile">
      <div *ngFor="let route of routes" class="nav-item-mobile" (click)="navigateToRoute(route)">
        {{route.displayName}}
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container> -->

<div class="container">
  <h1>About Me</h1>
  
  <p>
    Hello! I'm Nathan, a passionate and versatile full-stack software engineer with a penchant for crafting seamless and engaging user experiences. Over the course of my dynamic career, I've had the privilege of contributing my skills to a diverse range of companies – from nimble startups to industry giants in the Fortune 500.
  </p>
</div>