<nav class="nav-primary" *ngIf="!(isHandset$ | async)">
  <div class="nav-header">
    <p [routerLink]="['/']" class="initial">
      N
    </p>
  </div>
  <div class="nav-items">
    <div *ngFor="let route of routes" class="nav-item" (click)="navigateToRoute(route)">
      {{route.displayName}}
    </div>
  </div>
</nav>

<mat-sidenav-container [ngClass]="{'menu-closed': !opened}" class="nav-mobile" *ngIf="(isHandset$ | async)">
  <mat-icon *ngIf="!opened" fontIcon="menu" (click)="opened = true; sidenav.open()"></mat-icon>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="side-nav">
    <mat-icon (click)="sidenav.close()">minimize</mat-icon>
    <div class="nav-items-mobile">
      <div *ngFor="let route of routes" class="nav-item-mobile" (click)="navigateToRoute(route)">
        {{route.displayName}}
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>