<div class="container">
  <h5>About</h5>
  <p class="about">
    Hello! I'm Nathan, a passionate and versatile full-stack software engineer with a penchant for crafting seamless and
    engaging user experiences. Over the course of my dynamic career, I've had the privilege of contributing my skills to
    a diverse range of companies – from nimble startups to industry giants in the Fortune 500.
    <br><br>
    When I'm not coding you can find me playing guitar, digging deep into my latest fantasy novel, gaming, playing Magic, 
    and hanging out with my four-legged doofus, Beesly. 
  </p>

  <div class="experience">
    <h5>Experience</h5>
    <div *ngFor="let job of jobs" class="job">
      <div class="time-and-title">
        <p class="job-time-period">{{job.timePeriod}}</p>
        <section>
          <p class="job-title">{{job.title}}</p>
          <p class="job-company">{{job.company}}</p>
          <ul>
            <li *ngFor="let point of job.description">{{point}}</li>
          </ul>
          <div class="techs">
            <div *ngFor="let tech of job.technology" class="pill">{{tech}}</div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>