h1 {
  color: white;
  line-height: 80px;
  font-size: 75px;
  font-family: 'Tektur';
  margin-top: 2rem;
}

h2 {
  color: white;
  font-size: 45px;
  font-family: 'Tektur';
  margin-top: 1.5rem;
}

h3 {
  color: #726890;
  font-family: 'Tektur';
}

.no-margin {
  &-bottom {
    margin-bottom: 0;
  }
}