@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/colors.scss';

h1 {
  @include h1-white;
}

h2 {
  @include h2-white;
}

h3 {
  color: $profile-light-purple;
  font-family: 'Tektur';
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
}

.container-mobile {
  .socials {
    margin-bottom: 3rem;
  }
}

.icon {
  color: $profile-white;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: space-between;
  max-width: 4.5rem;
}