<div [ngClass]="(isHandset$ | async) ? 'container-mobile' : 'container'">
  <section>
    <h1 class="no-margin-bottom no-margin-top">Nathan Brown</h1>
    <h2 class="no-margin-bottom">Full Stack Software Engineer</h2>
  </section>
  
  <section class="socials">
    <a href="https://www.linkedin.com/in/nathanejbrown" target="_blank">
      <fa-icon class="icon fa-lg"[icon]="linkedin"></fa-icon>
    </a>
    <a href="https://www.github.com/nathanejbrown" target="_blank">
      <fa-icon class="icon fa-lg"[icon]="github"></fa-icon>
    </a>
    <a href="https://www.instagram.com/nathanejbrown" target="_blank">
      <fa-icon class="icon fa-lg"[icon]="instagram"></fa-icon>
    </a>
  </section>
</div>