@import '../../../assets/styles/colors.scss';

.container {
  margin-top: 1rem;

  .content {
    width: 90%;
    height: 15rem;
    resize: none;
    border-radius: 0.5rem;
    padding: 1rem;

    &::placeholder {
      font-family: 'Tektur';
      color: $profile-slate;
    }
  }

  .content-mobile {
    width: 80%;
    height: 12rem;
  }
}