@import '../assets/styles/colors.scss';

.container {
  display: flex;
  justify-content: space-around;

  &-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      max-width: 90%;
    }
  }
  
  .content {
    padding: 6rem;
    height: 100vh;
    max-width: 30%;
  
    &-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      max-width: 85%;
    }
  }
}

