@import '../../../assets/styles/colors.scss';

button {
  margin-top: 1rem;
  height: 2.5rem;
  width: 7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: $profile-green;
  border: none;
  color: $profile-white;
  font-family: 'Tektur';

  &:hover {
    background-color: #7E8C79;
  }
}