@import './assets/styles/colors.scss';

body {
  margin: 0;
  background-color: $profile-slate;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/opensans/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'Tektur';
  src: url('./assets/fonts/tektur/Tektur-VariableFont_wdth\,wght.ttf');
}

.no-margin {
  &-bottom {
    margin-bottom: 0;
  }

  &-top {
    margin-top: 0;
  }
}

.hidden {
  display: none;
}