$profile-light-grey: #acadb6;
$profile-light-purple: #726890;
$profile-dark-purple: #382f3c;
$profile-dark-grey: #222;

$profile-green: #A5B89E;
$profile-light-green: #E4F0D0;
$profile-white: #FFFCF7;
$profile-blue: #A1B5D8;
$profile-slate: #4B5156;